body {
	background-color: lightsteelblue;
	font-family: sans-serif;
}

.card {
	background-color: beige;
	display: inline-block;
	padding: 1em;

	margin-bottom: 1em;
}

h1 {
	font-style: oblique;
	margin: .5em 0;
}

h2 {
	margin-top: 0;
	margin-bottom: .5em;
	text-decoration: underline;
}

h3 {
	margin: .5em 0;
	color: red;
	text-decoration: underline;
	/*text-align: center;*/
}

h4 {
	margin: .2em 0;
}

p {
	margin: .5em 1em;
}
.price {
	font-weight: bold;
}

.breed {
	color: blue;
	font-style: italic;
	font-size: 1.1em;
	text-decoration: underline;
}

#cat-food {
	float: right;;
	width: 60%;
}

#dog-food {
	display: inline-block;
}